/* Website template by freewebsitetemplates.com */
@media only screen and (min-width : 320px) and (max-width : 568px) {
html {
	-webkit-text-size-adjust: none;
}
img {
	max-width: 100%;
}



#header {
	width: 100%;
}
#header div {
	min-height: 75px;
	padding: 0;
	width: 100%;
}
#header div ul {
	width: 100%;
}
#header div a.logo {
	display: block;
    float: left;
    height: auto;
   margin: 5% 0 2% 8%;
    padding: 0;
    width: 40%;
}
#header span#mobile-navigation {
	background: transparent url(../images/mobile/mobile-menu.png) no-repeat;
	display: block;
	height: 50px;
	margin: 0;
	padding: 0 0 0 0;
	position: absolute;
	right: 6%;
	top: 10px;
	width: 50px;
	z-index: 999;
}
#header div#navigation > ul {
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #000000;
	display: none;
	height: auto;
	padding: 0;
	position: absolute;
	right: 6%;
	top: 60px;
	width: 88%;
	z-index: 1000;
}
#header div#navigation > ul > li {
	border-left: 0;
	border-top: 1px solid #000000;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
	width: 100%;
}
#header div#navigation > ul > li:first-child {
	border-top: 0;
}
#header div#navigation > ul > li:hover {
	background-color: transparent;
}
#header div#navigation ul li a {
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 1.125em;
	font-weight: normal;
	height: 3em;
	line-height: 3.125em;
	padding: 0 10px;
	text-align: left;
	text-shadow: none;
}
#header .mobile-submenu {
	background: rgba(255, 255, 255, 0.8) url(../images/mobile/mobile-expand.png) no-repeat center;
	border-left: 1px solid #000000;
	display: inline-block;
	height: 3.4em;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	z-index: 0;
}
#header div#navigation ul li ul {
	border-top: 1px solid #000000;
	padding: 0;
	position: static;
	right: 0;
	text-align: left;
	width: 100%;
	z-index: 999;
}
#header div#navigation ul li ul, #header div#navigation ul li:hover ul {
	display: none;
}
#header div#navigation ul li {
	background: rgba(255, 255, 255, 0.8);
}
#header div#navigation ul li ul li {
	background: rgba(255, 255, 255, 0.8);
	border-top: 1px solid #000000;
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
}
#header div#navigation ul li ul li:first-child {
	border: none;
}
#header div#navigation ul li ul li a {
	background: rgba(255, 255, 255, 0.8);
	color: #000000;
	padding-left: 20px;
	text-align: left;
}
#header div#navigation ul li:hover a, #header div#navigation ul li.selected a, #header div#navigation ul li:hover ul li a, #header div#navigation ul li:hover ul li a:hover, #header div#navigation ul li ul li.selected a {
	display: block;
}
#header div#navigation ul li.selected > a {
	background: rgba(248, 98, 130, 0.8);
	color: #000000;
}
#body {
	margin: 0;
	padding: 0;
	width: 100%;
}
#body.home {
	margin: 0;
	padding: 0;
	width: 100%;
}
#body div {
	margin: 0 auto;
	padding: 10% 0 0 0;
	width: 95%;
}
#body div.header div h1 {
	font-family: Arial;
	font-size: 46px;
	font-weight: bolder;
	line-height: 46px;
	width: 100%;
}
#footer div .connect {
	float: none;
	margin: 0 auto;
	width: 154px;
}
}
@media only screen and (max-width : 568px) and (orientation : landscape) {
#header div a.logo img {
	margin: 5% 0 0 8%;
	width: 80%;
}
}
@media only screen and (max-width : 918px) {
#body {
	background-size: cover;
}
#body.home {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#body div {
	margin: 0 auto;
	padding: 10% 0 0 0;
	width: 95%;
}
#body.home div.header div h1 {
	font-family: Arial;
	font-size: 48px;
	font-weight: bold;
	line-height: 48px;
	width: 99%;
}
#body.home div.header div span {
	width: 85%;
}
#body.home div.header div span a.email {
	width: 56%;
}
#body.home div.header div span a.signup {
	width: 36%;
}
#body.home div.body div h1 {
	font-family: Arial;
	font-size: 50px;
	font-weight: bold;
}
#body.home div.body div p {
	font-size: 20px;
	line-height: 35px;
	width: 90%;
}
#body.home div.body div a.more {
	font-family: Arial;
}
#footer div {
	margin: 0 auto;
	width: 90%;
}
#footer div p {
	float: none;
	text-align: center;
	width: 100%;
}
#footer div .connect {
	float: none;
	margin: 0 auto 18px;
	max-width: none;
	width: 154px;
}
#body div h1 {
	font-family: Arial;
	font-size: 35px;
	font-weight: bold;
	line-height: 35px;
}
#body div img {
	width: 90%;
}
#body div p {
	width: 90%;
}
#body.blogsinglepost div div h1 {
	padding: 0 0 0 5%;
}
#body.blogsinglepost div div p {
	display: block;
	margin: 0 auto 48px;
	width: 90%;
}
#body div h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	margin: 0 auto;
	width: 90%;
}
#body div ul.gallery li {
	float: none;
	margin: 0 0 10% 0;
	width: 100%;
}
#body div ul.gallery li a img {
	float: none;
	width: 80%;
}
#body div h3 {
	width: 90%;
}
#body div ul {
	margin: 0;
	max-width: none;
	padding: 15% 0 0 0;
	width: 100%;
}
#body div ul li {
	margin: 0 auto;
	width: 90%;
}
#body div ul li img, #body.blogsinglepost div img {
	display: block;
	float: none;
	margin: 10% auto 10%;
	width: 90%;
}
#body div ul li div, #body.blogsinglepost div div {
	margin: 10% 0 0;
	padding: 0 0 10%;
	width: 100%;
}
#body div ul li div p {
	line-height: 24px;
	margin: 0 0 10% 0;
}
#body.contact div img {
	display: block;
	margin: 70px auto 37px;
	padding: 0;
	width: 90%;
}
#body.contact div p, #body.contact div a {
	width: 90%;
}
#body.contact div h4 {
	font-family: Arial;
	font-weight: bold;
}
#body.contact div form {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	padding: 36px 0 0;
	width: 90%;
}
#body.contact div form input, #body.contact div form textarea {
	-webkit-appearance: none;
	border-radius: 0;
	margin: 0 auto 10%;
	width: 90%;
}
#body.runningsinglepost div img {
	width: 90%;
}
#body.running div {
	padding: 10% 0 10%;
}
}
