/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }





}

@media (min-width: 992px) and (max-width: 1199px) {

    .titlepage h2::after {width: 58%;}
    .about-box .titlepage h2::after {
        width: 52%;
right: -221px;
    }
    .Nursery-img .text-box h3 {padding: 111px 50px;}
    .contact .titlepage h2::after {
    left: -650px;
width: 30%;
   }
   .sporrt_text { margin-top: 0px;}
   #main_slider a.carousel-control-prev {
    display: none;
   }
   #main_slider a.carousel-control-next {
    display: none;
    }


.navbar-expand-lg .navbar-nav .nav-link {  padding-right: 0.5rem;
     padding-left: 0.4rem; font-size: 16px; color: #ffffff; padding-top: 10px;}
.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 0px;
}
.lorem_text { width: 90%; padding-left: 0px; }
.banner_taital { text-align: left; padding-left: 15px; font-size: 52px; padding-top: 0px; }
.ads_bt  { width: 35%; margin-left: 18px; margin-top: 15px; height: 44px; padding-top: 5px;}
.contact_bt { width: 35%; margin-top: 15px; height: 44px; padding-top: 5px; }
.about_text { width: 50%; }
.dolor_text { padding-top: 0px; }
.classified_text { width: 55%; margin-top: 0px;}
.blog_section { margin-top: 0px;}
.client_text { width: 36%; }
.fron_text { padding-top: 0px;}
.social_icon { width: 93%; }
.send_bt { width: 60%; }
.sinup_text { margin-top: 8px;}
.about_section { padding-bottom: 140px; }
.clients_section { margin-top: 0px;}
.red_bt { margin-left: 20px; height: 44px; padding-top: 3px;}
.top_button_section { width: 80%; padding: 0px;}
.top_button_section li a.login-bt { font-size: 16px; padding: 0px 16px;}




}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul > li a {padding: 7px 6px ; }
    .main-menu ul>li a { font-size: 14px;}


    .banner-main .carousel-caption h1 {

        font-size: 36px;
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {

        margin-bottom: 7px;
        display: none;
    }
    .main { width: 15%;}
    .info_icon { min-width: 10%;}
    #main_slider a.carousel-control-prev {
    display: none;
    }
    .btn_main { margin-top: 58px; width: 65%;}
    #main_slider a.carousel-control-next {
    display: none;
    }
    .sporrt_text { margin-top: 0px; font-size: 24px;}
    .email_btn { padding: 41px;}
    .btn-primary {max-width: 144px; }
    .titlepage h2::after {width: 79%;}
    .about-box .titlepage h2::after {width: 73%;
       right: -88px;
    }
    .contact .titlepage h2::after {
        left: -403px;
        width: 41%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
         padding-left: 15px;
    }


.banner_taital { font-size: 40px; text-align: left; padding-top: 10px; }
.lorem_text { font-size: 13px; padding-left: 0px; margin-left: 0px; }
.header_section { background-size: cover;}
.ads_bt { width: 45%; margin-left: 0px; margin-top: 30px; }
.contact_bt { width: 45%; margin-top: 30px; }
.banner_section { padding-top: 60px;}
.about_text { width: 70%; }
.read_more { width: 45%;}
.social_icon { width: 100%;}
.social_icon li { padding-left: 10px;}
.send_bt { width: 80%; }
.footer_contact { font-size: 28px;}
.newsletter_text { margin-top: 20px;}
.client_text { width: 50%; }
.red_bt { width: 23%; margin-left: 20px;}
.fron_text { padding-top: 15px;}
.classified_text { width: 72%; margin-top: 0px;}
.dolor_text { font-size: 12px; padding-top: 0px; margin-top: 0; top: -50px; position: relative; margin-bottom: -30px;}
.about_text { width: 70%; position: relative; top: -60px; }
.read_more { margin-top: 0px;}
.clients_section { margin-top: 0px;}
.blog_section { margin-top: 0px;}



}

@media (min-width: 576px) and (max-width: 767px) {
    .last {display: none;}
    .banner-main .carousel-caption {top: 0%;}
.titlepage h2 {
font-size: 42px;
display: block;
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: 25%;
    top: 64%;
    display: none;
}
.btn_main { margin-top: 58px; width: 80%;}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 64%;
    display: none;
}
.btn-primary {
    margin-top: 0px;
    margin-left: -7px;
}
.menu_main {
    width: 95%;}

.banner-main .carousel-caption h1 {
    font-size: 50px;
}
.titlepage h2::after {
width: 88%;
}

.about-box .titlepage h2::after {width: 45%;
right: -281px;}
.sporrt_text { margin-top: 0px;}
.Nursery-img .text-box h3 {
font-size: 36px;
padding: 126px 40px;
}
.main {
    width: 20%;}

.contact .titlepage h2::after {
    left: -234px;
width: 55%;
}

.login-bt { display: none;}
.sinup_text { display: none;}
.search { display: none;}
.navbar { padding-top: 8px; }
.header_section { background-size: cover;}
.banner_taital { padding-top: 0px; text-align: left; }
.lorem_text { margin-left: 0px; padding-left: 0px; font-size: 15px;}
.about_text { width: 100%; }
.classified_text { position: initial; width: 100%; top: 0px;}
.about_section { padding-bottom: 30px;}
.red_bt { width: 30%; }
.client_text { width: 66%; }
.long_text { width: 100%;}
.footer_contact { font-size: 20px;}
.location_text { font-size: 12px; padding-top: 5px;}
.social_icon { width: 80%; }
.map { margin-top: 20px;}
.using_text { font-size: 15px;}
.dolor_text { font-size: 15px;}
.ads_bt { margin-left: 90px;}
.long_text { font-size: 15px;}
.copyright_text { font-size: 15px;}
.blog_section { padding-top: 0px;}


}


@media (max-width: 575px) {
    .last { display: none; }
    .carousel-caption {display: none;}
.header { padding-top: 0px; }
.logo { float: inherit; padding-bottom: 15px; text-align: center;}
.btn-primary {max-width: 126px;
margin-right: 2px;
font-size: 14px;}
.banner-main .carousel-caption h1 {font-size: 30px; line-height: 38px;}
.titlepage h2 {
    font-size: 27px;
}
.sporrt_text{
     font-size: 23px;
     margin-top: 0px;
}
.main {
    width: 30%;
}
.btn_main {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 55%;}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
}

.titlepage h2::after {
    width: 93%;
}
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
 .Gallery .titlepage h2 {
    font-size: 47px;
 }
    .Gallery .titlepage h2::after {
        width: 89%;
    }

    .paddimg-right {
    padding-right: 15px;
}
.paddimg-left {
    padding-left: 15px;
}
.Nursery-img .text-box h3 {
font-size: 23px;
padding: 30px 14px;

}

.contact .titlepage h2::after {

    left: -8px;
    width: 281px;
}
.footer .headinga span {
font-size: 16px;

}
.menu-bottom {
    margin-bottom: 45px;
}
ul.link li {

    padding: 8px 12px;
    padding-bottom: 0px;
}

.banner_taital { font-size: 34px; padding: 0px; text-align: left;}
.header_section { background-size: cover;}
.lorem_text { font-size: 14px; padding: 0px; margin-left: 0px; }
.ads_bt { display: none;}
.contact_bt { display: none;}
.banner_section { padding-bottom: 0px; padding-top: 30px;}
.about_text { width: 100%; }
.read_more { width: 50%; margin-top: 0px;}
.about_section { padding-bottom: 30px;}
.classified_text { font-size: 20px; position: initial; width: 100%; top: 0px;}
.about_img { text-align: center;}
.fron_text { font-size: 20px;}
.using_text { font-size: 14px;}
.red_bt { width: 50%; margin-top: 0px; margin-left: 15px;}
.client_text { width: 100%; font-size: 28px;}
.long_text { width: 100%; font-size: 13px;}
.send_bt { width: 95%; }
.social_icon li { padding-left: 0px; }
.social_icon { width: 100%; float: left;}
.map { margin-top: 30px;}
.login-bt { display: none;}
.sinup_text { display: none;}
.search { display: none;}
.blog_section { padding-top: 0px;}
.tablet { margin-top: 0px;}




}
